body {
    background-image: url(images/cev-landscape.jpg);
    background-color: #223eff;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    background-attachment: fixed;
}